* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
header {
    width: 100%;
    height: 140px;
    background-color: rgb(253, 251, 251); 
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 2.2rem;
  }

  p{
     margin-top: -40px;
     color: green;
     font-size: 1.3rem;
     align-items: center;
  }

h3{
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: -0px; 
    justify-content: center;
    display: flex;
    align-items: center;
}

.bandeiras img {
    height: 30px;
    margin-right: 5px;;
    width: 60px;
    height: 50px;
    right: 60px;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

.total {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.total span {
  color: #ff4d4f;
}

.form-pagamento label {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
}

.form-pagamento input, 
.form-pagamento select {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
}

.linha {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 190px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

h1{
  font-size: 1.0rem;
  margin-top: 30px;
  margin-right: -70px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #333;
}

.enviarPedido{
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

