body {
  font-family: "Poppins", sans-serif;
  background-color: #9adaff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b6eeff;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

.opcoes-entrega {
  max-width: 600px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 15px;
  flex-direction: column;
}

.entrega-card {
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 15px;
   margin: 30px auto;
  margin-bottom: 15px;
  transition: 0.3s;
  flex-direction: column;
}

.ultima-etapa{
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  flex-direction: column;
}

button {
  background-color: #b6eaff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #9adaff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffafc;
  color: #333;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #9adaff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.etapas-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 40px auto;
  max-width: 900px;
  position: relative;
}

.etapa {
  flex: 1;
  min-width: 150px;
  text-align: center;
  position: relative;
}

.icone {
  font-size: 30px;
  background: #9adaff;
  color: #3cf554;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 auto 10px;
  transition: 0.4s;
}

.etapa.ativa .icone {
  background: #61ff61;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(147, 255, 97, 0.6);
}

.etapa p {
  font-weight: 600;
  margin-bottom: 5px;
}

.etapa small {
  color: #555;
  font-size: 12px;
}

.linha {
  height: 3px;
  background: #ddd;
  flex: 0.2;
  margin: 0 10px;
  border-radius: 2px;
  transition: 0.4s;
}

.etapa.ativa ~ .linha {
  background: #9adaff;
}

button {
  background-color: #9adaff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}

button:hover {
  background-color: #9adaff;
}
