 body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #e6f7ff; 
      color: #333;
    }

    header {
      text-align: center;
      padding: 20px;
      background-color: rgb(27, 2, 168); 
    }

    header h1 {
      margin: 0;
      font-size: 2em;
      color: #f3faff;
    }

    header button {
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 1em;
      background-color: #0099cc;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    header button:hover {
      background-color: #0077aa;
    }

    .filter-container {
      margin-top: 20px;
      margin: 20px 0;
    }

    .filter-container select {
      padding: 10px;
      font-size: 1em;
      border: 1px solid #0099cc;
      border-radius: 5px;
    }

    .produtos-container {
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 0 20px 40px;
    }

    .produto-card {
      width: 250px;
      background-color: white;
      border: 1px solid #99ccff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.2s;
    }

    .produto-card:hover {
      transform: scale(1.03);
    }

    .produto-card img {
      width: 100%;
      height: 190px;
    }

    .produto-card .info {
      padding: 15px;
    }

    .produto-card h3 {
      margin: 0 0 10px 0;
      font-size: 1.2em;
      color: #030099;
    }

    .produto-card p {
      margin: 5px 0;
      font-size: 0.9em;
      color: #555;
    }

    .produto-card .preco {
      font-size: 1.1em;
      font-weight: bold;
      color: #001faa;
    }